In [67]:
import sqlite3

conn = sqlite3.connect("school.db")
cur = conn.cursor()

cur.execute("""
create table if not exists students(
    id integer primary key,
    name text,
    grade real
)
""")

students = [
    ("Ali", 85.5),
    ("Sara", 92.0),
    ("Mohamed", 78.3)
]

cur.executemany("insert into students(name, grade) values(?, ?)", students)

conn.commit()

cur.execute("select * from students")
for row in cur.fetchall():
    print(row)

conn.close()

(1, 'Ali', 85.5)
(2, 'Sara', 92.0)
(3, 'Mohamed', 78.3)

In [69]:
import sqlite3

conn = sqlite3.connect("school.db")
cur = conn.cursor()

name = input("Enter name: ")
grade = float(input("Enter grade: "))

cur.execute("insert into students(name, grade) values(?, ?)", (name, grade))
conn.commit()

print("\n--- Updated Records ---")
cur.execute("select * from students")
rows = cur.fetchall()

for row in rows:
    print(row)

conn.close()

Enter name:  Amina
Enter grade:  88.5

--- Updated Records ---
(1, 'Ali', 85.5)
(2, 'Sara', 92.0)
(3, 'Mohamed', 78.3)
(4, 'Amina', 88.5)

In [68]:
import sqlite3

conn = sqlite3.connect("school.db")
cur = conn.cursor()

try:
    conn.execute("begin")  
    
    cur.execute("insert into students(name, grade) values(?, ?)", ("Nour", 90))
    cur.execute("insert into students(name, grade) values(?, ?)", ("Hassan", 88))

    x = 1 / 0

    conn.commit()

except Exception as e:
    print("Error occurred:", e)
    conn.rollback()
    print("Transaction rolled back.\n")

print("Final Records:")
cur.execute("select * from students")
for row in cur.fetchall():
    print(row)

conn.close()

Error occurred: division by zero
Transaction rolled back.

Final Records:
(1, 'Ali', 85.5)
(2, 'Sara', 92.0)
(3, 'Mohamed', 78.3)

In [62]:
from sqlalchemy import Column, Integer, String, create_engine
from sqlalchemy.orm import declarative_base, sessionmaker

Base = declarative_base()

class Book(Base):
    __tablename__ = "books"
    id = Column(Integer, primary_key=True)
    title = Column(String)
    author = Column(String)

    def __repr__(self):
        return f"Book(id={self.id}, title='{self.title}', author='{self.author}')"

engine = create_engine("sqlite:///library.db")
Base.metadata.create_all(engine)

Session = sessionmaker(bind=engine)
session = Session()

book1 = Book(title="Python Basics", author="Guido")
book2 = Book(title="AI with Python", author="Mohamed")

session.add_all([book1, book2])
session.commit()

books = session.query(Book).all()
for b in books:
    print(b)

Book(id=1, title='Python Basics', author='Guido')
Book(id=2, title='AI with Python', author='Mohamed')